*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color:  #252525;
}

li, a, h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color:  #252525;
}
/* DISCOUNT-BANNER */
.discount-newsletter{
    margin: 0px;
}
.discount-banner{
    background: rgb(198, 107, 240);
    height: 2rem;
    color: black;
    padding: 1.5rem;
    font-family: 'Cousine', monospace;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
    margin: 1.25rem 1.25rem;
}
    .header{
        display: flex;
        flex-flow: column nowrap;
        margin: 3.125rem 3.75rem 0 3.75rem;
        text-align: center;
        /* background: grey; */
        cursor: pointer;
    }
        .menu{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            /* background: darkgrey; */
            letter-spacing: 0.04em
        }
            .nav-left{
                flex: 1 1 auto;
                text-decoration: none;
                /* background: lightgray; */
                justify-content: space-between;
                display: flex;
            }
            .toggle{
                display: none;
            }
            .nav-left a{
                margin: 0 0.25rem;
            }
                .nav-left a:hover{
                    color:  rgb(125, 88, 184);
                    transition:0.25s;
                }

            .centered-logo{
                flex: 1 1 40%;
                /* background: lightgreen; */
                text-align: center;
            }
                .centered-logo img{
                    max-width: 50%;
                }
            .nav-right{
                flex: 1 1 auto;
                text-decoration: none;
                /* background: lightslategray; */
                justify-content: space-between;
                display: flex;
            }
            .nav-right a{
                margin: 0 0.25rem;
            }
            .fa-user{
                margin-right: 0.7rem;
            }
                .nav-right a:hover{
                    color:  rgb(125, 88, 184);
                    transition:0.25s;
                }
        .searching{
            display: inline-block;
            flex-flow: row nowrap;
            padding: 0.625rem 0px;
            /* background: lightslategrey; */
        }
            .search-box{
                margin: 0.3rem 0px;
                /* background: lightsteelblue; */
                text-align: left;
                align-items: center;
            }
            .searchborder{
                border: 0;
                font-size: 1.2rem;
                /* background: lightseagreen; */
                display: inline-block;
            }
                .searching a{
                    color:  #313131;
                }
                .searching a:hover{
                    color: rgb(125, 88, 184);
                    transition:0.25s;
                }
                .searching a{
                    margin-right: 0.6rem;
                }
                .searching ::placeholder{
                    font-size: 1.3rem;
                    color: #bebcbc;
                    font-weight: 500;
                }

    /* BODY SECTION */
    .section{
        /* background: #000; */
        display: flex;
        flex-flow: column nowrap;
        margin: 2.5rem 3.75rem 0px 3.75rem;
    }   
        /* TOP SECTION */
        .top-section{
            margin: 2.5rem 0rem;
            /* background: darkgrey; */
            position: relative;
        }   
            .top-article{
            text-align: center;
            height: auto;
            width: 100%;
        }
                .top-article img{
                    width: 100%;
                    height: auto;
                }
                .top-article a{
                background-color:  #252525;
                padding: 0.938rem 2.5rem;
                color: #ffffff;
                font-family: 'Cousine', monospace;
                font-size: 1.5rem;
                position: absolute;
                right: 100px;
                bottom: 150px;
            
                }
                .top-article a:hover{
                    background-color: #ffffff;
                    transition:0.25s;
                    color:  #252525;
                }

        /* MIDDLE SECTION */
        .mid-section{
            display: flex;
            flex: 1 1 auto;
            flex-flow: row nowrap;
            text-align: center;
            align-content: center;
        }
            .mid-article{
                display: flex;
                flex: 33%;
                text-align: center;
                justify-content: center;
                height: 45vw;
                position: relative;
            } 
                .mid-article-photo-1{
                    background: url(../DFP/imgs/mid-article-1.png);
                    background-position: center;
                    background-size: cover;
                }
                .mid-article-photo-2{
                    background: url(../DFP/imgs/mid-article-2.png);
                    background-position: center;
                    background-size: cover;
                    margin-left: 0.5%;
                    margin-right: 0.5%;  
                }
                .mid-article-photo-3{
                    background: url(../DFP/imgs/mid-article-3.png);
                    background-position: center;
                    background-size: cover;   
                }
                .mid-article h1{
                    color:#ffffff;
                    font-size: 1.7rem;
                    position: absolute;
                    text-align: center;
                    left: 20%;
                    top: 40%;
                }
                .mid-article a{
                    background-color:  #252525;
                    padding: 0.9rem 2rem;
                    color: #ffffff;
                    font-family: 'Cousine', monospace;
                    font-size: 1.3rem;
                    position: absolute;
                    left: 26%;
                    top: 48%;
                }
                    .mid-article a:hover{
                        background-color: #ffffff;
                        transition:0.25s;
                        color:  #252525;
                    }

        /* BOTTOM SECTION */
        .bottom-section{
            display: flex;
            flex-flow: column wrap;
            /* background: lightpink; */
            margin-top: 40px;
            padding: 0.625rem 0;
        }   

                .bottom-section h1 {
                    text-align: center;
                    font-size: 4rem;
                    font-family: 'Cousine', monospace;
                    margin-top: 1.563rem;  
                }
                h5{     
                    text-align: center;
                    font-size: 1.5rem;
                    font-family: 'Cousine', monospace;
                    color:#252525;
                    margin: 1.875rem auto;
                    width: 75%; 
                    line-height: 180%; 
                }

            .article-area{
                display: flex;
                text-align: center;
                align-content: center;
                margin-top: 2rem;                
            }
                .bottom-article{
                    flex: 1 1 auto;
                    margin-left: 0.5%;
                    margin-right: 0.5%;
                    cursor: pointer;
                }   
                    .bottom-article:hover{
                        opacity: .8;
                        transition:0.25s;
                        background-blend-mode:darken;
                    }
                    .bottom-article-photo-1{
                        background: url(../DFP/imgs/aros.png)rgba(31,49,58,.4);
                            background-position: center;
                            background-size: cover;
                            margin-bottom: 0.625rem;
                            width: 20vw;
                            height: 20vw;
                    }
                    .bottom-article-photo-2{
                        background: url(../DFP/imgs/bikini.png)rgba(31,49,58,.4);
                            background-position: center;
                            background-size: cover;
                            margin-bottom: 0.625rem;
                            width: 20vw;
                            height: 20vw;
                            
                    }
                    .bottom-article-photo-3{
                        background: url(../DFP/imgs/falda.png)rgba(31,49,58,.4);
                            background-position: center;
                            background-size: cover;
                            margin-bottom: 0.625rem;
                            width: 20vw;
                            height: 20vw;
                            
                    }
                    .bottom-article-photo-4{
                        background: url(../DFP/imgs/medias.png)rgba(31,49,58,.4);
                            background-position: center;
                            background-size: cover;
                            margin-bottom: 0.625rem;
                            width: 20vw;
                            height: 20vw;
                            
                    }
    /* FOOTER */
    .footer{
        /* background: darkgrey; */
        padding: 0.625rem;
        margin: 1rem 0.625rem 0.625rem 0.625rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        .t-footer{
            /* background: chartreuse; */
            padding: 0.625rem;
            margin: 1.25rem;
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
        }
            .box-cont{
                display: flex;
                flex-direction: column;
                /* background: orange; */
                padding: 0.625rem;
                margin: 0.625rem;
                flex: 1 1 auto;
                line-height: 190%;
            }   
                .box-cont a:hover{
                    color:  rgb(125, 88, 184);
                    transition:0.25s;
                }
                .logos{ 
                    display: flex;
                    flex-flow:column nowrap ;    
                }
                .fa-facebook{
                    margin-right: 0.5rem;
                }
                .fa-instagram{
                    margin-right: 0.5rem;
                }
        
            .footer-txt {
            /* background: black; */
            color: #252525;
            padding: 1.25rem;
            width: 60%;
            margin: 0;
            padding: 0.625rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            font-size: 0.8em;
            line-height: 1.2rem;
        }
@media all and (max-width: 1200px){
    .mid-article h1{
        left: 15%;
        top: 40%;
    }
    .mid-article a{
        left: 21%;
        top: 48%;
    }
}
@media all and (max-width: 1100px){
    .mid-article h1{
        left: 10%;
        top: 40%;
    }
    .mid-article a{
        left: 22%;
        top: 48%;
        padding: 0.8rem 1.9rem;
        font-size: 1.2rem;
    }
}
@media all and (max-width: 1025px){
    .article-area{
        flex-wrap: wrap;
        justify-content: center; 
    }
    .bottom-section{
        height: auto;
    }
    .bottom-article{
        flex: 48%;
        max-width: 48%;
        height: 40vw;
    }

}
@media all and (max-width: 1015px){
    .top-article a{  
        font-size: 1.3rem;
        right: 80px;
        bottom: 100px;
        padding: 0.8rem 2.1rem;
    }
}
@media all and (max-width: 1000px){
    .mid-article h1{
        left: 5%;
        top: 40%;
    }
    .mid-article a{
        padding: 0.6rem 1.8rem;
        font-size: 1.2rem;
        left: 19%;
        top: 48%;
    }
}
@media all and (max-width: 967px){
    .padre{
        margin: 1rem 1rem;
}
    .header{
        margin: 1rem 1rem  1rem  1rem 
}
    .section{
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    }   
}
@media all and (max-width: 870px){
    .mid-article h1{
        left: 5%;
        top: 40%;
        font-size: 1.6rem;
    }
    .mid-article a{
        padding: 0.6rem 1.8rem;
        font-size: 1.2rem;
        left: 19%;
        top: 50%;
    }
}
@media all and (max-width: 840px){
    .nav-left{
        flex: 1 1 20%;
        justify-content: flex-start; 
    }
    .nav-right{
        flex: 1 1 20%;
    }
    .centered-logo img{
        min-width: 65%;
    }
    .centered-logo{
        flex: 1 1 auto;
        padding: 0 5px;
        margin: 0 5px;
    }
    /* NAV-BAR-ELEMENTS-HIDDEN */
    .no-visible{
        display: none;
    } 
    /* TOOGLE-ACTIVATED */
    .toggle{
        display: contents;
    }
}
@media all and (max-width: 824px){
    .mid-article a{
        top: 60%;
    }
}
@media all and (max-width: 767px){
    .padre{
        margin: 1.2rem 1.2rem;
}
    .header{
        margin: 0.75rem 0.75rem  0.75rem  0.75rem 
}
    .section{
        margin: 1rem 1rem 1rem 1rem;
    }   
    .bottom-article{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    
    .mid-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
        .mid-article{
            flex: 1 1 auto;
            height: 1000px; 
            margin-bottom: 1rem;
        }
        .mid-article h1{
            color:#ffffff;
            font-size: 3rem;
            position: absolute;
            left: 18%;
            top: 40%;
        }
        .mid-article a{
            background-color:  #252525;
            padding: 0.9rem 2rem;
            color: #ffffff;
            font-family: 'Cousine', monospace;
            font-size: 1.5rem;
            position: absolute;
            left: 35%;
            top: 48%;
        }
        .mid-article-photo-1{
            height: 130vw;    
        }
        .mid-article-photo-2{
            height: 130vw;
        }
        .mid-article-photo-3{
            height: 130vw;    
        }
     
    .bottom-article{
        flex: 42%;
        max-width: 48%;
        max-height: auto;
    }
    .bottom-section h1 {
        font-size: 3.2rem; 
    }
    h5{     
        text-align: center;
        font-size: 1.2rem;
        margin: 1.5rem auto;
        width: 90%;  
    }
    .t-footer{
        flex-direction: column;
        text-align: center;
    }
    .logos{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }
    .box-cont{
        margin-bottom: 2.5rem; 
    }   
@media all and (max-width: 698px){
    .top-article a{  
        font-size: 1.1rem;
        right: 50px;
        bottom: 70px;
        padding: 0.8rem 1.8rem;
    }
    .discount-banner{
        height: 2.2rem;
    }
}  
@media all and (max-width: 648px){
    .mid-article h1{
        left: 12%;
    }
} 
@media all and (max-width: 588px){
    .mid-article h1{
        left: 15%;
        font-size: 2.5rem;
    }
    .mid-article a{
        left: 33%;
    }
}
@media all and (max-width: 520px){
    .mid-article h1{
        left: 10%;
    }
    .mid-article a{
        left: 30%;
    }
}
@media all and (max-width: 458px){
    .mid-article a{
        top: 60%;
        left: 28%;
    }
}
@media all and (max-width: 447px){
    .discount-banner{
        height: 2.4rem;
        padding: 1.5rem;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }  
}
@media all and (max-width: 390px){
    .padre{
        margin: 1rem 1rem;
}
    .header{
        margin: 0.5rem 0.5rem  0.5rem  0.5rem 
}
    .section{
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }   
    .searching ::placeholder{
        font-size: 1.175rem;
    }
    .top-article a{  
        right: 10px;
        bottom: 80px;
        padding: 0.4rem 1.2rem;
    }
    .bottom-section h1 {
        text-align: center;
        font-size: 2.3rem;
        font-family: 'Cousine', monospace;  
    }
    .bottom-article{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }   
    h5{     
        font-size: 1.2rem;
        margin: 20px 30px;   
    }
    .footer-txt {
        width: 100%;
        padding: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2rem;
    }
    @media all and (max-width: 375px){
        .mid-article h1{
            left: 4%;
            font-size: 2.2rem;
        }
        .mid-article a{
            left: 28%; 
            font-size: 1.1rem;
            padding: 0.7rem 1.8rem;
        }
    }
    @media all and (max-width: 320px){
        .mid-article h1{
            left: 3%;
        }
        .mid-article a{
            left: 22%;
        }
    }
}